* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', sans-serif;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    background: linear-gradient(135deg,
            #0F0F0F,
            #1E1B4B,
            #3B0764);

    color: white;
}


/* CONTAINER */

.container {

    width: 100%;

    max-width: 450px;

    padding: 30px;

    border-radius: 25px;

    background: rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

}


/* TOPO */

.topo {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;

}

h1 {

    color: #C4B5FD;

    font-size: 50px;

}

.subtitulo {

    text-align: center;

    margin-bottom: 30px;

    color: #D1D5DB;

}


/* BOTÃO LUA */

#toggle-theme {

    width: 60px;

    height: 60px;

    border-radius: 50%;

    padding: 0;

    font-size: 25px;

}


/* LOGIN */

.auth-box {

    display: flex;

    flex-direction: column;

    gap: 12px;

    margin-bottom: 20px;

}

.auth-box h2 {

    text-align: center;

    color: #C4B5FD;

    font-size: 28px;

}

.auth-links {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-top: 5px;

}

.auth-text,
.reset-password {

    font-size: 13px;

    color: #C4B5FD;

}

.auth-text span,
.reset-password {

    cursor: pointer;

    font-weight: 600;

}

.auth-text span:hover,
.reset-password:hover {

    text-decoration: underline;

}


/* INPUTS */

input,
textarea {

    width: 100%;

    padding: 15px;

    border-radius: 15px;

    border: 2px solid #8B5CF6;

    background: rgba(255, 255, 255, 0.08);

    color: white;

    outline: none;

    margin-bottom: 15px;

}

input::placeholder,
textarea::placeholder {

    color: #CCCCCC;

}


input:focus,
textarea:focus {

    border: 2px solid #C4B5FD;

    box-shadow: 0 0 15px #8B5CF6;

}


textarea {

    min-height: 150px;

    resize: none;

}


/* BOTÕES */

button {

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 15px;

    cursor: pointer;

    font-size: 16px;

    font-weight: 600;

    color: white;

    background: linear-gradient(90deg,
            #D946EF,
            #9333EA);

    transition: .3s;

}

button:hover {

    transform: scale(1.02);

}


/* CARTAS */

#lista-cartas {

    margin-top: 25px;

}

.carta {

    background: rgba(255, 255, 255, 0.08);

    border-radius: 20px;

    padding: 20px;

    margin-top: 20px;

    animation: fade .5s;

}

.carta h3 {

    color: #C4B5FD;

    margin-bottom: 10px;

}

.carta p {

    margin-bottom: 15px;

}

.btn-editar {

    margin-bottom: 10px;

    background: #7C3AED;

}

.btn-excluir {

    background: #DC2626;

}


/* ANIMAÇÃO */

@keyframes fade {

    from {

        opacity: 0;

        transform: translateY(20px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}


/* MODO CLARO */

body.light {

    background: linear-gradient(135deg,
            #F5F3FF,
            #DDD6FE,
            #C4B5FD);

    color: #111827;

}

body.light .container {

    background: rgba(255, 255, 255, .7);

}

body.light textarea,
body.light input {

    color: #111827;

    background: white;

}

body.light .carta {

    background: white;

}

body.light .subtitulo {

    color: #374151;

}


/* SCROLL */

::-webkit-scrollbar {

    width: 8px;

}

::-webkit-scrollbar-thumb {

    background: #8B5CF6;

    border-radius: 10px;

}


/* RESPONSIVO */

@media(max-width:500px) {

    .container {

        padding: 20px;

    }

    h1 {

        font-size: 38px;

    }

}